.title {
  padding: 10px;
  font-size: 22px;
  span{
    color: #d1512d;
  }
  
}
// .form {
//   table {
//     width: 100%;
//     tr {
//       display: flex;
//       width: 100%;
//       td {
//         display: flex;
//         width: 100%;
//         align-items: center;
//         justify-content: space-evenly;
//       }
//     }
//   }
// }
