* {
  margin: 0;
  padding: 0;
  color: black;
}
html,
body {
  height: 100%;
  background-color: #dcdcdc;
}

.MainBody {
  display: flex;
  flex-direction: column;
  /* height: 100%; */
  flex-grow: 1;
  width: 100%;
}
